@font-face {
    font-family: Dreams-of-theater;
    src: url("../../assets/Dreamsoftheatre-5Vja.ttf");
}

h1 {
    font-family: Dreams-of-theater;
}

p {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 22px;
}

.block-one {
    background-color: gray;
    border-width:15px;  
    border-style:outset;
    border-color: slategrey;
    box-shadow: 20px 20px 10px;
}

body {
    background-image: linear-gradient(to right, black, gray);
}

td {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 22px; 
    width: 40%
}

img[title^="Ugh"] {
    box-shadow: 0px 0px 40px black;
}

@keyframes spinstar {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
        transform: rotate(180deg);
    }
    100% {
        background-color: yellow;
        transform: rotate(-180deg);
    }
}

#spinTest {
    position: relative;
}

#spinOne {
    background-color: yellow;
    height: 30px;
    width: 10px;
    position: absolute;
    left: 10px;
    bottom: -20px;
    border-radius: 50px 0px 50px 0px;
    animation-name: spinstar;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#spinTwo {
    background-color: yellow;
    height: 10px;
    width: 30px;
    position: absolute;
    border-radius: 0px 50px 0px 50px;
    animation-name: spinstar;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


